*{
margin: 0;
padding: 0;
}
.all{
background-image: url('c26.jpg');
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 100vh;
}
#logo{
height: 50px;
width: 150px;
color: white;
font-size: 40px;
margin-left: 20px;
margin-top: 10px;
}
.navbar{
position: fixed;
top: 0;
width: 100%;
height: 60px;
background-color: #0d0d0d;

}
ul{
word-spacing: 35px;
text-align: center;

display: inline;
}
li{
display: inline;
}
.sa{
height: 35px;
width:300px;
}
.icon-r{
	position: absolute;
width: 60px;
height: 100%;
display: flex;
left: 1110px;
font-size: 1.6rem;
top: 30px;
color: black;
}
.sa::placeholder{
	text-align: center;
	margin-right: 170px;
}
.view{
text-decoration: none;
color: white;
margin-top: 40px;
}
.nav{
display: inline;
margin-left: 350px;
}
.para{
color: white;
font-size: 55px;
}
.graph{
color: white;
}
.read{
border: 2px solid none;
width: 600px;
height: 200px;
margin-top: 250px;
margin-left: 100px;
}
.btn{
padding: 10px;
background-color: black;
color: white;
margin-top: 20px;
}
.view:hover{
text-decoration: underline;
color: #996600;

}
.us{
border: 2px solid white;
width: 80%;
height: 70vh;
margin-left: 10%;
margin-top: 50px;
}
.read1{
width: 650px;
height: 540px;
}
.all-1{
background-color: black;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 100vh;
}
h1{
color: white;
font-size: 55px;
text-align: center;
}
#head{
color: #996600;
}
.img1{
margin-left: 200px;
margin-top: 120px;
}
.about{
display: inline;
}
.content{
color: white;
float: right;
margin-right: 300px;
border: 2px solid none;
height: 500px;
width: 500px;
justify-content: center;
margin-top: 120px;
}
h3{
font-size: 40px;
}
.bt{
padding: 10px;
background-color:#996600 ;
color: white;
margin-top: 20px
}
span{
color: white;
}
h2{
color: #996600;
font-size: 55px;
text-align: center;
}
.all-2{
background-color: black;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 1000px;
}
.box{
border: 4px solid white;
width:250px ;
height: 290px;
margin-left: 150px ;
margin-top:80px ;
display:inline-block ;
border-radius:15px ;
padding: 15px;
}
.box:hover{
background-color: white;
cursor: pointer;
}
.image{
background-size: cover;
width: 100px;
height: 100px;
border-radius: 50px;
margin-left: 70px;
margin-top: 20px;
}
p{
color: grey;
font-size: 20px;
margin-top: 10px;
margin-left: 50px;
}
h4{
color: #996600;
font-size: 35px;
margin-left: 75px;
}
del{
color: grey;
margin-left: 95px
}
button{
padding: 10px;
width: 150px;
background-color: #cc2900;
margin-left: 50px;
}
.color{
color: #996600;
}
.col{
margin-top: 50px;
}
.all-3{
background-color: black;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 1500px;
}
#box{
border: 1px solid white;
width: 400px;
height: 630px;
display: inline-block;
margin-left: 70px;
margin-top: 30px;
}
#icon{
margin-right: 30px;
color: white;
font-size: 40px;
margin-left: 120px;

}
.pack{
height: 250px;
width: 250px;
margin-left: 80px;
margin-top:80px ;
}
.graphic{
color: white;
margin-left: 110px;
font-size: 40px;
}
#new{
color: white;
margin-left: 180px;

}
.new{
color: #996600;
font-size: 30px;
margin-left: 160px;
}
#star{
width: 40px;
height: 40px;
margin: 0;
font-size: 3rem;
color: #ff9800;
background-color: unset;
border: none;
}
.str{
text-align: center;
margin-bottom: 15px;
}
#x-icon{
color: white;
text-align: center;
font-size: 24px;

}
.wase{
margin-top: 20px;
padding: 10px;
display: inline-block;
border: 1px solid white;
width: 40px;
height: 30px;
}
.wase:hover{
background-color:#996600 ;
transition: 0.5s;
}
.all-4{
background-color: black;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 700px;
}
.revo{
color: #996600;

}
.container13{
border: 1px solid white;
width: 400px;
height: 520px;
display: inline-block;
margin-left: 70px;
margin-top: 30px;
}
.q1{
margin-left: 150px;
margin-top: 30px;
}
.paragraph23{
color: grey;
text-align: center;
margin-right:25px ;
}
.pics{
height: 100px;
width: 100px;
border-radius: 50%;
margin-left: 150px;
margin-top: 10px;
}
.john{
color: white;
text-align: center;
margin-right: 45px;
}
.all-5{
background-color: black;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 700px;
}
.map{
margin-left: 250px;
display:inline;
}
iframe{
margin-top: 80px;
}
#fafa{
color: white;
}
.contact{
background-color: ;
height: 450px;
width: 500px;
display:inline-block;
float: right;
margin-right:320px;
margin-top: 80px;
}
.span{
color: white;
font-size: 35px;
margin-left: 120px;
}
.info{
height: 40px;
width: 400px;
margin-left: 50px;
margin-top: 40px;
color: white;
background-color: transparent;
}
.icon-o{
position: absolute;
color: white;
width: 60px;
height: 100%;
display: flex;
left: 820px;
font-size: 1.6rem;
top: 4905px;
}
.icon-u{
position: absolute;
width: 60px;
height: 100%;
display: flex;
left: 820px;
font-size: 1.6rem;
top: 5075px;
color: white;
}
.icon-w{
position: absolute;
width: 60px;
height: 100%;
display: flex;
left: 820px;
font-size: 1.6rem;
top: 4990px;
color: white;
}
.info::placeholder{
text-align: center;
margin-right: 240px;
font-size: 24px;
}
.btyn{
margin-left:180px ;
margin-top: 70px;
}
.all-6{
background-color: black;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 900px;
}
.piks{
width: 400px;
height: 310px;


}

.bty{
width:150px ;
margin-left: 20px;
margin-top: 20px;


}
.tasti{
color: #996600;
font-size: 20px;
margin-top: 10px;
margin-left: 20px;
}
.tast{
color: white;
margin-left: 20px;
}
.tas{
color: grey;
margin-left: 20px;

}
.footer{
background-color:#262626 ;
height: 300px;

text-align: center;

}
.foot{
display: inline-block;
background-color:#996600 ;
margin-left: 5px;
color: white;
padding: 20px;
margin-top: 50px;
border-radius: 50%;
}
footer{
border: 1px solid grey;
height: 40px;
width: 350px;
display: inline;
margin: 10px;
padding: 10px;
color: white;

}
footer:hover{
background-color:#cc6600;
cursor: pointer;
}
.side{
text-align: center;
margin-top: 50px;
}
.qwerty{
color: #cc6600;
text-decoration: none;
}
.wasy{
margin-top: 50px;
font-size: 35px;
}
#super{
color: #ff9800;
font-size: 34px;
}

